---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { useTranslations } from '../../i18n/utils';

const lang = 'sk';
const t = useTranslations(lang);
---

<BaseLayout
  title={`${t('page.contact.title')} | ${t('ui.siteName')}`}
  description={t('page.contact.description')}
  lang={lang}
>
  <h1>{t('page.contact.title')}</h1>
  <p>{t('page.contact.description')}</p>
</BaseLayout>
