---
// Temporary index that redirects to Slovak version
---
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/sk/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/sk/">Slovak version</a>...</p>
  </body>
</html>
